.modal2 {
    display: block; 
    position: fixed; 
    z-index: 2; 
    left: 50%;
    top: 130%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

#time-container{
  position: fixed;
  left: 35em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  font-size: 2em;
  color: var(--primary-color); 
}

.rabbit{
  display: flex;
  height: 7em; 
  width: 7em; 
  background: var(--backcolor);
  border-radius: 6px;
  border-right: 2px solid var(--magenta);  
  border-left: 2px none var(--magenta); 
  border-top: 2px none var(--magenta); 
  border-bottom: 2px none var(--magenta);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.rabbit:hover {
  background: var(--back);
}

.rabbit:active {
  transform: scale(0.9);
}

.extension {
  position: relative;
  display: flex;
  align-items: center;
  top: 0em;
  left: 21.50em;
  padding: 0.50em;
  height: 2em;
  width: 2em;
  background: var(--backcolor);
  border-radius: 6px;
  border-right: 2px solid var(--magenta);  
  border-left: 2px none var(--magenta); 
  border-top: 2px none var(--magenta); 
  border-bottom: 2px solid var(--magenta);
  font-size: 21px; 
  color: var(--primary-color);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.extension:hover {
  background: var(--back);
}

.extension:active {
  transform: scale(0.9);
}
