.space{
  display: flex;
  align-items: center;
  margin: 4px;
  height: 2em; 
  width: 3em; 
  background: var(--backcolor);
  border-radius: 6px;
  border-right: 2px solid var(--magenta);  
  border-left: 2px none var(--magenta); 
  border-top: 2px none var(--magenta); 
  border-bottom: 2px solid var(--magenta);
  font-size: 18px;
  color: var(--primary-color);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.space:hover {
  background: var(--back);
}

.space:active {
  transform: scale(0.9);
}

#contenedores {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    left: 20em;
    top:  8em;
    cursor: pointer;
}

#contenedores div {
  display: flex;
  position: relative;
  left: 3em;
  margin: 12px;
  align-items: center;
  height: 3em; 
  width: 8em; 
  background: transparent;
  border-radius: 6px;
  border-right: 2px solid var(--magenta);  
  border-left: 2px none var(--magenta); 
  border-top: 2px none var(--magenta); 
  border-bottom: 2px solid var(--magenta);
  font-size: 24px;
  color: var(--primary-color);
 background-color: var(--backcolor);
   backdrop-filter: var(--backblur);
 transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

#contenedores div:hover {
  background: var(--back);
  backdrop-filter: var(--backblur);
}

#contenedores div:active {
  transform: scale(0.9);
}

buton {
  position: relative;
  display: flex;
  align-items: center;
  top: -1em;
  left: 6.50em;
  padding: 2px;
  height: 18px;
  width: 18px;
  background: transparent;
  border-radius: 6px;
  border-right: 2px none var(--magenta);  
  border-left: 2px solid var(--magenta); 
  border-top: 2px solid var(--magenta); 
  border-bottom: 2px none var(--magenta);
  font-size: 26px; 
  color: var(--primary-color);
}

.name {
    position: relative;
    left: -0.86em;
    height: 26px;
    width: 26px;
    margin-right: 6px;
}
