@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/quicksand-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/quicksand-bold.ttf) format('truetype');
}
